{% extends 'main/base.html' %}
{% load static %}
{% block content%}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home'%}">Home</a>
                    <span class="breadcrumb-item active">Shop</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">



            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">

                            </div>
                        </div>
                    </div>

                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{product.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if product.is_discount %}
                            <h5>{{product.type}}{{product.discount_price}}</h5>
                            <h6 class="text-muted ml-2"><del>{{product.type}}{{product.price}}</del></h6>
                            {% else %}
                            <h5>{{product.type}}{{product.price}}</h5>
                            {% endif %}
                        </div>

                        <div class="d-flex justify-content-center flex-lg-wrap">
                            <a href="{% url 'shop-detail' product.slug %}" class="btn border border-secondary rounded-pill px-3 text-primary " style="background-color: #333333;"><i class="fas fa-info-circle"></i> View details</a>
<!--                            <button data-product="{{product.id}}" data-action="toShopAdd" class="btn border border-secondary rounded-pill px-3 text-primary update-cart" style="background-color: green;"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>-->
                            <button data-product="{{product.id}}" data-action="add" class="btn border border-secondary rounded-pill px-3 text-primary update-cart" style="background-color: green;"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
                    {% endfor %}
                </div>


                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}